API_KEY = 
BASE_URL = "https://api.collectapi.com/weather/getWeather"
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_PASSWORD=
CITIES=Nairobi,London,New York,Tokyo,Sydney

SLEEP_INTERVAL=60

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=weather-data

CASSANDRA_HOST=localhost
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=weather_pipeline
CASSANDRA_TABLE=weather_records
